absl-py
aiohappyeyeballs
aiohttp
aiosignal
anndata
annoy
array-api-compat
asttokens
attrs
bbknn
comm
contourpy
cycler
Cython
debugpy
decorator
Deprecated
docrep
donfig
executing
fbpca
filelock
fonttools
frozenlist
fsspec
geosketch
google-crc32c
grpcio
h5py
harmony-pytorch
idna
igraph
intervaltree
ipykernel
ipython
ipython_pygments_lexers
kneed
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
legacy-api-wrap
leidenalg
lightning
lightning-utilities
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml_collections
mpmath
mudata
multidict
natsort
nest-asyncio
networkx
numba
numcodecs
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
opt_einsum
packaging
pandas
parso
patsy
pexpect
pillow
pip-chill
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pydot
Pygments
pynndescent
pyparsing
pyro-api
pyro-ppl
python-dateutil
pytorch-lightning
pytz
PyYAML
pyzmq
rich
scanorama
scanpy
scib
scikit-learn
scikit-misc
scipy
scvi-tools
seaborn
session-info2
setuptools
six
sortedcontainers
sparse
stack-data
statsmodels
sympy
tensorboard
tensorboard-data-server
texttable
threadpoolctl
torch
torchmetrics
tornado
tqdm
traitlets
triton
typing_extensions
tzdata
umap-learn
wcwidth
Werkzeug
wrapt
xarray
yarl
zarr
